@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';

.inter-font {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}

@layer utilities {
  .hero-img {
    background-image:
      url(../images/Donate1.png), url(../images/Ellipse256.png),
      url(../images/Ellipse257.png);
    background-repeat: no-repeat, no-repeat;
    background-position:
      calc(100% - 160px) bottom,
      calc(100% - 100px) bottom,
      bottom right;
    width: 100%;
  }

  @media screen and (max-width: 1200px) {
    .hero-img {
      background-size: 60%, 90%, 110%;
    }
  }
}
