@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}

@layer utilities {
  .hero-img {
    background-image:
      url(../images/Donate1.png), url(../images/Ellipse256.png),
      url(../images/Ellipse257.png);
    background-repeat: no-repeat, no-repeat;
    background-position:
      calc(100% - 160px) bottom,
      calc(100% - 100px) bottom,
      bottom right;
    width: 100%;
  }

  @media screen and (max-width: 1200px) {
    .hero-img {
      background-position:
        calc(100% - 150px) bottom,
        calc(100% - 140px) bottom,
        calc(100% - 70px) bottom;

      background-size: 65%, 80%, 80%;
    }
  }
  @media screen and (max-width: 1024px) {
    .hero-img {
      background-size: 60%, 90%, 110%;
      width: 80%;
      background-position:
        calc(100% - 150px) bottom,
        calc(100% - 0px) bottom,
        calc(100% - -50px) bottom;
    }
  }
  @media screen and (max-width: 992px) {
    .hero-img {
      background-size: 60%, 90%, 110%;
    }
  }
  @media screen and (max-width: 768px) {
    .hero-img {
      background-size: 60%, 90%, 110%;
    }
  }
  @media screen and (max-width: 576px) {
    .hero-img {
      background-size: 60%, 90%, 110%;
    }
  }
  @media screen and (max-width: 350px) {
    .hero-img {
      background-size: 60%, 90%, 110%;
      width: 80%;
      background-position:
        calc(100% - 70px) bottom,
        calc(100% - 30px) bottom,
        calc(100% - 5px) bottom;
    }
  }
}
